/* GLOBAL */
*{
    box-sizing: border-box;
}
body{
    background: #f1f1f1;
    
}

/* MAIN CSS */
.vglasses__left{
    background-color: white;
    padding: 20px 40px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__left .col-4{
    align-self: center;
}
.vglasses__items{
    cursor: pointer;
}

.vglasses__right{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.vglasses__model{
    background-image: url('../img/model3.jpg');
    background-position:bottom;
    background-size: cover;
    height: 600px;
   
}

.vglasses__model img.thy{
    position: absolute;
    top: 23%;
    left: 45%;
    width: 350px;
    height: 150px;
    opacity: 0.9;
    transform: rotate3d(-0.099,-0.27,-0.06,80deg);
}
.vglasses__model img.si{
    position: absolute;
    top: 42%;
    left: 9%;
    width: 380px;
    height: 130px;
    opacity: 1;
    transform: rotateZ(7deg);
}
.vglasses__model img.hiep{
    position: absolute;
    top: 26%;
    left: 37%;
    width: 150px;
    height: 70px;
    opacity: 0.9;
    
}


.vglasses__card{
    position: relative;
    overflow: ;
    background-color: white;
}

.vglasses__info{
    position: absolute;
    bottom:-100px;
    left: 0;
    background-color: rgba(0,0,0,1);
    width: 100%;
    color: white;
    padding: 20px;
   display: none;
}

#glasses{
    transition: all 0.5s;
}